<h1><%= @list.name %></h1>

<ul>
  <% @list.bookmarks.each do |bookmark| %>
  <li><%= bookmark.movie.poster_url %> <%= bookmark.movie.title %> / <%= bookmark.movie.overview %> ° <%= bookmark.movie.rating %>/ <%= bookmark.comment %> - <%= link_to "delete", bookmark_path(bookmark.id), method: :delete, data: { confirm: 'Are you sure?' }%></li>
  <% end %>
</ul>

<%= link_to "Return all lists", lists_path, class: 'btn btn-primary' %>
<%= link_to "Create Bookmark", new_list_bookmark_path(@list), class: 'btn btn-primary' %>
